{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image:url(&quot;static/assets/img/tech/image4.jpg&quot;);color:rgba(9, 162, 255, 0.85);">
            <div class="text">
                <h2>Welcome to the world of learning !</h2>
                <p>Lets grow together !!!</p><button class="btn btn-outline-light btn-lg" type="button">Learn More</button>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Features</h2>
                    <p>The best features of this application</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                        <h4>Land of courses</h4>
                        <p>You can find lot of courses to enhance your professional career.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                        <h4>Community</h4>
                        <p>Get the help from below learners and experts.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                        <h4>Anywhere from the world using anydevice you can access</h4>
                        <p></p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <h4>Track the progress</h4>
                        <p>Always track the progress.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">About Us</h2>
                    <p>We are LeardLand is dedicated organization to help peoples who wants learn what they want.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</html>
{% endblock %}